@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$padding: 10px;
$margin: 10px;
$blue:#0000ff;
$pwd-blue:#bfd7fc;
$light-blue:#5895fb;

body{
    color: #000;
  }
.blue-font{
  color: #2e3192;
}
.pwd-font{
  color: $pwd-blue;
}
.light-font{
  color: $light-blue;
}
.wht-font{
  color: #fff;
}
i:hover{
  cursor: pointer;
}
i{
  margin:10px 0 0 20px;
}
.arrow-mrg-top{
  margin-top: 80px;
}
.arrow-mrg-btm{
  margin-bottom: 80px;
}
.bkg{	
	z-index:-1;
  position: fixed;
}
#trigger-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
}
#committee-welcome-image {
    margin-top: 60px;
}
/*NEW STUFF*/
#homepage{

  h1{
    font-size: 2.7rem;
    margin-top: 60px;
  }
  h2{
    font-size: 2rem;
    margin:0 0 0 0;
  }
  h3{
    font-size: 2rem;
  }
}
.about-section{
  display: flex;
  justify-content: center;
  div{
    align-self: center;
  }
  .up-mrg{
    margin-bottom: 30px;
  }
  .btm-mrg{
    margin-top: 30px;
  }
}
#concept-logo{
  margin-bottom:50px;
}
.about-margin{
  margin:160px 0;
}
.section-margin{
  padding:180px 0 0 0;
}
.comm-text{
  padding-top: 15px;
  padding-bottom: 15px;
}
#committee{

  figure{
    margin-bottom:7px;
    figcaption{
      font-size: 1rem;
      position: absolute;
      top:2%;
      left:0;
      right:0;
      h1{
        font-size: 2rem;
        margin:0;
      }
      dd{
        font-size: 1.6rem;
      }
    }
  }
  p{
    font-size: 1rem;
    
  }
}
.fa-angle-up{
  font-size: 6rem !important;
}
.fa-angle-down{
  font-size: 6rem !important;
}
#legacy-info{
  margin-top:10px;
}
.beebs-neue-font{
  font-family: 'bebas_neueregular';
}
.beebs-font{
  font-family: 'bebasregular';
}
address{
  font-size: 2rem;
}
form{
  input,textarea{
    background-color:#b4b4b4 !important;
    color: #fff !important;
  }
  ::-webkit-input-placeholder {
    color: #fff !important;
  }
  :-moz-placeholder {
    color: #fff !important;
  }
  ::-moz-placeholder {
    color: #fff !important;
  }
  :-ms-input-placeholder {
    color: #fff !important;
  }
}
#sponsor-btns{
  a{
    margin:0 7px;
  }
}
/*NEW STUFF END*/

.icon-list{
    position: absolute;
    top:0;
    right: 0;
    padding: 5px;
    z-index: 888;
  li{
    text-decoration: none;
    display: inline-block;
    img{
      margin: 4px 0;
      width:25px;
    }
  }
}
.video{
  margin-bottom:40px;
  position:relative; 
  z-index:0px;
}
#legacy-video{
  margin-top: 20px;
}
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: hidden; 
  max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
body {
    overflow-x: hidden;
}
#sponsorship{
  p{
    margin:30px 0;
    font-size: 1.6rem;
  }
}
#sub-btn{
  background-color:#b4b4b4;
  color: #fff;
}
#slideout {
    position: fixed;
    height: 400px;
    bottom: -400px;
}
#clickme:hover{
  cursor: pointer;
}    
#clickme {
    position: absolute;
    top: -55px; 
    margin: 0 87px;
}
#dia-text{
  vertical-align: top;
}
.instagram-content {
    margin-top: 40px;
}
#slidecontent {
    float: left;
}
#map-canvas{
  margin: 20px 0;
}
.fa-bars{
  color: #2e3192;
}
#live-engage{
  margin-top: 20px;
}
#homepage{
  display: none;
}
#about-2,#about-3{
  p{
      font-size: 1rem;
  }
}
#form-section{
  margin-top: 40px;
}
.contact-body {
   margin-top: 60px;
}
/*
.cmg-soon{
  margin-top: 250px;
  color: #000;
  display:none;
}*/
.blue-text{
	color:#0000FF;
}
.white-text{
	color:#fff;
}
#welcome{
	display:none;
}

.blk-font{
	color:#000;
}
.vis-hide{
	visibility:hidden;
}
a{
	text-decoration: none;
	
}
.members{
  figcaption{
    display: none;
  }
}
a:hover,a:visited{
	text-decoration:none;
	
}
/* Instagram stuff*/
.instagram-wrap {
    background: beige;
}

.photo-box {
        margin: 0 0 $margin*3 0;
 
        .image-wrap {
            img {
                width: 100%;
            }
        }
        .description {
            font-size: 12px;
            color: #333;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .coms{
        	color: #000 !important;
        	text-decoration: none;
        }
    }
#shy{
    margin-top: 10px !important;
}
#buttons i{
  color: #ffffff;
}
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
  #form-section{
    margin-top: 0;
  }
  .clear-small{
    clear: both;
  }
  #about-logo{
    width: 60%;
  }
  #sponsorship{
    p{
      margin:30px 0;
      font-size: 2rem;
    }
  }
  #slideout {
      left:31%;
  }
  #live-engage{
    p{
      font-size: 2rem;
    }
  }
  #about-section{
    min-height: 400px;
    font-size: 2rem
  }
  #about-2,#about-3{
    .about2{
        font-size: 2rem;
    }
    .about3{
      font-size: 2rem;
    }
    p{
      font-size: 2rem;
    }
  }
    #committee{
    figure{
      margin-bottom:7px;
      figcaption{
        h1{
          font-size: 1rem;
          margin:0;
        }
        dd{
          font-size: .7rem;
        }
      }
    }
      p{
        font-size: .9rem;
        
      }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #slideout {
      left:40%;
  }
  .mrg{
    margin:145px 0;
  }
  #about-concept{
    width: 40%;
  }
  #about-2,#about-3{
    
  .about2{
      font-size: 2rem;
    }
    .about3{
      font-size: 2rem;
    }
    p{
      font-size: 2rem;
    }
  }
}
@media (min-width: 1200px){

  #homepage-logo,#about-logo{
    width: 60%;
  }
  #homepage{
    h1{
      font-size: 3.4rem;
    }
    h2{
      font-size: 2rem;
    }
    h3{
      font-size: 2rem;
    }
  }
  #live-engage{
    p{
      font-size: 2rem;
    }
  }
  #committee{
    figure{
      margin-bottom:7px;
      figcaption{
        font-size: 1rem;
        position: absolute;
        top:2%;
        left:0;
        right:0;
        display: none;
        h1{
          font-size: 1rem;
          margin:0;
        }
        dd{
          font-size: .9rem;
        }
      }
    }
      p{
        font-size: 1.4rem;
        
      }
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1366px) {
  #homepage{
      margin-top: 7%;
    h1{
      font-size: 5.4rem;
    }
    h2{
      font-size: 4rem;
    }
    h3{
      font-size: 4rem;
    }
  }
  #sponsorship{
    p{
      font-size: 3rem;
    }
  }
  #legacy-info{
    font-size: 2rem;
    margin-top:30px;
  }
  #legacy-video{
    margin-top: 60px;
  }
  #about-2,#about-3{
    
    .about2{
        font-size: 2.4rem;
    }
    .about3{
      font-size: 2.4rem;
    }
    p{
      font-size: 2.4rem;
    }
  }
  
}

@media (min-width: 1600px){
  #sponsorship{
    p{
      font-size: 3.5rem;
    }
  }
  #live-engage{
    p{
      font-size: 2rem;
    }
  }
  #legacy-info{
    font-size: 3rem;
    margin-top:30px;
  }
  #legacy-video{
    margin-top: 60px;
  }
  #about-2,#about-3{
      
    .about2{
      font-size: 4rem;
    }
    .about3{
      font-size: 4rem;
    }
  }
}

