@font-face {
  font-family: 'bebas_neueregular';
  src: url("../fonts/bebasneue-webfont.eot");
  src: url("../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue-webfont.woff2") format("woff2"), url("../fonts/bebasneue-webfont.woff") format("woff"), url("../fonts/bebasneue-webfont.ttf") format("truetype"), url("../fonts/bebasneue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas___-webfont.eot");
  src: url("../fonts/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas___-webfont.woff2") format("woff2"), url("../fonts/bebas___-webfont.woff") format("woff"), url("../fonts/bebas___-webfont.ttf") format("truetype"), url("../fonts/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #000; }

.blue-font {
  color: #2e3192; }

.pwd-font {
  color: #bfd7fc; }

.light-font {
  color: #5895fb; }

.wht-font {
  color: #fff; }

i:hover {
  cursor: pointer; }

i {
  margin: 10px 0 0 20px; }

.arrow-mrg-top {
  margin-top: 80px; }

.arrow-mrg-btm {
  margin-bottom: 80px; }

.bkg {
  z-index: -1;
  position: fixed; }

#trigger-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900; }

#committee-welcome-image {
  margin-top: 60px; }

/*NEW STUFF*/
#homepage h1 {
  font-size: 2rem;
  margin-top: 80px; }
#homepage h2 {
  font-size: 1.7rem;
  margin: 15px 0 0 0; }
#homepage h3 {
  font-size: 1.7rem; }

.about-section {
  display: flex;
  justify-content: center; }
  .about-section div {
    align-self: center; }
  .about-section .up-mrg {
    margin-bottom: 30px; }
  .about-section .btm-mrg {
    margin-top: 30px; }

#concept-logo {
  margin-bottom: 50px; }

.about-margin {
  margin: 160px 0; }

.section-margin {
  padding: 180px 0 0 0; }

.comm-text {
  padding-top: 15px;
  padding-bottom: 15px; }

#committee figure {
  margin-bottom: 7px; }
  #committee figure figcaption {
    font-size: 1rem;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0; }
    #committee figure figcaption h1 {
      font-size: 2rem;
      margin: 0; }
    #committee figure figcaption dd {
      font-size: 1.6rem; }
#committee p {
  font-size: 1rem; }

.fa-angle-up {
  font-size: 6rem !important; }

.fa-angle-down {
  font-size: 6rem !important; }

#legacy-info {
  margin-top: 30px; }

.beebs-neue-font {
  font-family: 'bebas_neueregular'; }

.beebs-font {
  font-family: 'bebasregular'; }

address {
  font-size: 1.6rem; }

form input, form textarea {
  background-color: #b4b4b4 !important;
  color: #fff !important; }
form ::-webkit-input-placeholder {
  color: #fff !important; }
form :-moz-placeholder {
  color: #fff !important; }
form ::-moz-placeholder {
  color: #fff !important; }
form :-ms-input-placeholder {
  color: #fff !important; }

#sponsor-btns a {
  margin: 0 7px; }

/*NEW STUFF END*/
.icon-list {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 888; }
  .icon-list li {
    text-decoration: none;
    display: inline-block; }
    .icon-list li img {
      margin: 4px 0;
      width: 25px; }

.video {
  margin-bottom: 40px;
  position: relative;
  z-index: 0px; }

#legacy-video {
  margin-top: 20px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }

#sponsorship p {
  margin: 30px 0;
  font-size: 1.6rem; }

#sub-btn {
  background-color: #b4b4b4;
  color: #fff; }

#slideout {
  position: fixed;
  height: 400px;
  bottom: -400px; }

#clickme:hover {
  cursor: pointer; }

#clickme {
  position: absolute;
  top: -55px;
  margin: 0 87px; }

#dia-text {
  vertical-align: top; }

.instagram-content {
  margin-top: 40px; }

#slidecontent {
  float: left; }

#map-canvas {
  margin: 20px 0; }

.fa-bars {
  color: #2e3192; }

#live-engage {
  margin-top: 20px; }

#homepage {
  display: none; }

#about-2 p, #about-3 p {
  font-size: 1rem; }

#form-section {
  margin-top: 40px; }

.contact-body {
  margin-top: 60px; }

.cmg-soon {
  margin-top: 40% !important; }

.blue-text {
  color: #0000FF; }

.white-text {
  color: #fff; }

#welcome {
  display: none; }

.blk-font {
  color: #000; }

.vis-hide {
  visibility: hidden; }

a {
  text-decoration: none; }

.members figcaption {
  display: none;
  position: relative; }
.members img {
  position: relative;
  transition: 0.3s ease;
  cursor: pointer; }
.members img:hover {
  transform: scale(1.8, 1.8);
  z-index: 998; }

a:hover, a:visited {
  text-decoration: none; }

.form-control {
  border-radius: 0 !important; }

/* Instagram stuff*/
.instagram-wrap {
  background: beige; }

.photo-box {
  margin: 0 0 30px 0; }
  .photo-box .image-wrap img {
    width: 100%; }
  .photo-box .description {
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    padding: 15px;
    height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .photo-box .coms {
    color: #000 !important;
    text-decoration: none; }

#shy {
  margin-top: 10px !important; }

#buttons i {
  color: #ffffff; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #live-body .icon-list, #live-body #trigger-overlay {
    position: fixed; }

  #clickme {
    width: 20%;
    position: absolute;
    top: -46px;
    margin: 0 87px; }

  #form-section {
    margin-top: 0; }

  .clear-small {
    clear: both; }

  #about-logo {
    width: 60%; }

  #sponsorship p {
    margin: 30px 0;
    font-size: 1.6rem; }

  #slideout {
    left: 31%; }

  #live-engage p {
    font-size: 2rem; }

  #about-section {
    min-height: 400px;
    font-size: 2rem; }

  #about-2 .about2, #about-3 .about2 {
    font-size: 1.6rem; }
  #about-2 .about3, #about-3 .about3 {
    font-size: 1.6rem; }
  #about-2 p, #about-3 p {
    font-size: 1.6rem; }

  #committee figure {
    margin-bottom: 7px; }
    #committee figure figcaption {
      font-size: 1rem;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      display: none; }
      #committee figure figcaption h1 {
        font-size: .9rem;
        margin: 0; }
      #committee figure figcaption dd {
        position: absolute;
        font-size: .9rem;
        top: -27px;
        left: 0;
        right: 0;
        z-index: 9999; }
      #committee figure figcaption dt {
        position: absolute;
        font-size: .9rem;
        top: -35px;
        left: 0;
        right: 0;
        z-index: 9999; }
  #committee p {
    font-size: .9rem; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #slideout {
    left: 40%; }

  .mrg {
    margin: 145px 0; }

  #about-concept {
    width: 40%; }

  #committee figure {
    margin-bottom: 7px; }
    #committee figure figcaption {
      font-size: 1rem;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      display: none; }
      #committee figure figcaption h1 {
        font-size: 1.4rem;
        margin: 0; }
      #committee figure figcaption dd {
        position: absolute;
        font-size: 1.4rem;
        top: -40px;
        left: 0;
        right: 0;
        z-index: 9999; }
      #committee figure figcaption dt {
        position: absolute;
        font-size: 1.4rem;
        top: -52px;
        left: 0;
        right: 0;
        z-index: 9999; } }
@media (min-width: 1200px) {
  #homepage-logo, #about-logo {
    width: 60%; }

  #homepage h1 {
    font-size: 3.4rem; }
  #homepage h2 {
    font-size: 2rem; }
  #homepage h3 {
    font-size: 2rem; }

  #live-engage p {
    font-size: 1.6rem; }

  #committee figure {
    margin-bottom: 7px; }
    #committee figure figcaption {
      font-size: 1rem;
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      display: none; }
      #committee figure figcaption h1 {
        font-size: 1.6rem;
        margin: 0; }
      #committee figure figcaption dt {
        position: absolute;
        font-size: 1.6rem;
        top: -63px;
        left: 0;
        right: 0;
        z-index: 9999; }
      #committee figure figcaption dd {
        font-size: 1.6rem;
        position: absolute;
        top: -48px;
        left: 0;
        right: 0;
        z-index: 9999; }
  #committee p {
    font-size: 1.4rem; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1366px) {
  #homepage {
    margin-top: 7%; }
    #homepage h1 {
      font-size: 3.4rem; }
    #homepage h2 {
      font-size: 2.4rem; }
    #homepage h3 {
      font-size: 2.4rem; }

  #sponsorship p {
    font-size: 3rem; }

  #legacy-info {
    font-size: 2rem;
    margin-top: 30px; }

  #legacy-video {
    margin-top: 60px; } }
@media (min-width: 1600px) {
  #homepage {
    margin-top: 7%; }
    #homepage h1 {
      font-size: 3.4rem; }
    #homepage h2 {
      font-size: 2.4rem; }
    #homepage h3 {
      font-size: 2.4rem; }

  #sponsorship p {
    font-size: 3.5rem; }

  #live-engage p {
    font-size: 2rem; }

  #legacy-info {
    font-size: 3rem;
    margin-top: 30px; }

  #legacy-video {
    margin-top: 60px; }

  #about-2 .about2, #about-3 .about2 {
    font-size: 2.3rem; }
  #about-2 .about3, #about-3 .about3 {
    font-size: 2.3rem; }
  #about-2 p, #about-3 p {
    font-size: 2.3rem; } }

/*# sourceMappingURL=styles.css.map */
